.card {
  border: 2px solid #00000012;
  border-radius: 10px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  object-position: top;
}

.name {
  padding: 12px;
}

.name h2 {
  font-size: 2.2rem;
  margin-bottom: 5px;
  color: #000000bb;
  font-weight: 700;
}

.name p {
  font-size: 1.5rem;
  color: var(--color-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 50px;
}

.reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-top: 2px solid #00000012;
}

.reserve button {
  padding: 5px 40px;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-radius: 4px;
  color: var(--background-side);
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.reserve button:hover {
  background-color: #1f6f31;
}

.reserve p {
  display: flex;
  gap: 5px;
  font-size: 1.5rem;
}

.reserve span {
  color: var(--color-price);
}

@media (min-width: 768px) {
}
