.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #00000020;
  border-radius: 10px;
  /* padding: 10px 0; */
}

.topBox {
  display: flex;
  flex-direction: column;
}

.upBox {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  padding: 10px;
  padding-bottom: 0;
  justify-content: flex-end;
}

.badge div {
  width: 65px;
  height: 25px;
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success {
  background-color: var(--color-green-light);
  color: var(--color-green-primary);
}
.pending {
  background-color: var(--color-badge-yellow);
  color: #d1b900;
}

.date {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  padding-top: 0;
  gap: 10px;
}

.date div {
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  gap: 8px;
}
.date > :nth-child(2) {
  flex: 1;
}

.date img {
  width: 25px;
  height: 25px;
}

.detailsBox {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 10px 20px;
}

.detailsBox span {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #0000009b;
}

.detailsBox div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
}

.detailsBox div > :nth-child(2) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #00000085;
  gap: 10px;
}

.bottomBox {
  display: flex;
  padding: 20px 20px;
  border-top: 2px solid #00000040;
}

.bottomBox div {
  display: flex;
  /* justify-content: space-between; */
  gap: 10px;
  align-items: center;
  width: fit-content;
  /* flex: 2; */
  font-size: 1.1rem;
  font-weight: 600;
  padding: 5px 10px;
  padding-right: 0;
}

.bottomBox > :nth-child(2) {
  padding-right: 10px;
}

.bottomBox div > :nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  color: #00000085;
  gap: 10px;
}

.bottomBox > :nth-child(2) {
  border-right: 2px solid #00000040;
  flex: 3;
}
.bottomBox span {
  color: #00000085;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 768px) {
  /* .topBox {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    } */
  .upBox {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .badge {
    padding-bottom: 10px;
  }
  .badge div {
    width: 85px;
    height: 25px;
    font-size: 1rem;
  }
  .date {
    flex: 1;
    padding-top: 10px;
  }

  .date div {
    flex: 1;
    font-size: 1.5rem;
  }
  .date img {
    width: 30px;
    height: 30px;
  }

  .detailsBox {
    flex-direction: row;
    gap: 10px;
  }
  .detailsBox div {
    justify-content: start;
    gap: 10px;
    width: fit-content;
  }
  .detailsBox > :nth-child(2) {
    flex: 2;
  }
  .bottomBox div {
    font-size: 1.2rem;
    padding-left: 20px;
  }
  .bottomBox > :nth-child(2) {
    padding-right: 20px;
  }

  .bottomBox div > :nth-child(1) {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .detailsBox > :nth-child(1) {
    flex: 4;
  }
  .detailsBox > :nth-child(2) {
    flex: 5;
  }
  .detailsBox div {
    font-size: 1.6rem;
  }

  .detailsBox div > :nth-child(2) {
    font-size: 1.3rem;
  }
  .bottomBox div {
    font-size: 1.5rem;
    padding-left: 30px;
  }
  .bottomBox > :nth-child(2) {
    padding-right: 30px;
  }

  .bottomBox div > :nth-child(1) {
    font-size: 1.5rem;
  }
}
