.container {
  /* padding: 10px 15px; */
  min-height: 580px;
  /* padding-top: 40px; */
}
.all {
  padding: 10px 15px;
  max-width: 1280px;
  margin: auto;
}

.detailBox {
  display: grid;
  row-gap: 10px;
  margin-top: 20px;
}

.images img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.name {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.name .dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dates h1 {
  font-size: 2.4rem;
}

.dates p {
  font-size: 1.5rem;
}

.name .features {
  display: flex;
  justify-content: space-between;
}

.logoName {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #7d7d7d;
}

.logoName img {
  width: 14px;
  height: 14px;
}

.logoName p {
  font-size: 1.3rem;
}

.allDetails {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: scroll;
  grid-row: 3/4;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.allDetails::-webkit-scrollbar {
  display: none;
}

.allDetails .logoName {
  width: max-content;
  text-align: center;
  padding: 5px;
}

.allDetails .logoName img {
  width: 16px;
  height: 16px;
}

.allDetails .logoName p {
  font-size: 1.6rem;
  font-weight: 500;
}

.allDetails > div {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.allDetails > div div :first-child {
  font-size: 1.4rem;
  font-weight: 500;
  width: max-content;
}

.reserve {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.reserve button {
  padding: 5px 40px;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-radius: 4px;
  color: var(--background-side);
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.reserve button:hover {
  background-color: #1f6f31;
}

.reserve p {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}

.reserve span {
  font-size: 1.5rem;
  color: var(--color-price);
}

@media (min-width: 768px) {
  .container {
    background-color: var(--backgroundColor-detailsPage);
    padding: 20px 15px;
  }
  .all {
    background-color: var(--background-side);
    border: 2px solid #00000012;
    border-radius: 10px;
  }
  .detailBox {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    column-gap: 20px;
  }
  .images {
    grid-row: 1/3;
    border-radius: 8px;
    overflow: hidden;
    scroll-snap-type: none;
  }
  .images img {
    width: 100%;
    height: 100%;
  }
  .name {
    row-gap: 20px;
  }
  .name .dates {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
  .name .features {
    justify-content: start;
    gap: 30px;
  }
  .name .features img {
    width: 18px;
    height: 18px;
  }
  .name .features p {
    font-size: 2rem;
  }

  .reserve {
    grid-column: 2/-1;
    grid-row: 2/3;
    flex-direction: row-reverse;
  }
  .reserve span {
    font-size: 2.4rem;
  }
  .allDetails {
    grid-column: 1/-1;
    grid-row: 3/4;
  }
}

@media (min-width: 1024px) {
  .allDetails > div {
    border-right: 2px solid #00000012;
    padding-right: 50px;
    /* align-items: start; */
  }
  .detailBox {
    grid-template-columns: 2fr 4fr;
  }
}
