.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 100px;
}

.loaderCircle {
  width: 16px;
  height: 16px;
  background-color: #28a745;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loaderCircle:nth-child(2) {
  animation-delay: 0.2s;
}

.loaderCircle:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-12px);
  }
}
