.sliderContainer {
  width: 250px;
  /* height: 400px; */
  /* width: 100%; */
  /* margin: 30px auto; */
  /* position: relative; */
  /* text-align: center; */
  /* font-family: sans-serif; */
  /* background-color: aqua; */
}

.sliderStack {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide {
  position: absolute;   
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.slide.active {
  opacity: 1;
  background-size: cover;
}

.sliderControls {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sliderControls button {
  background: none;
  border: none;
  color: #28a745;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sliderControls button:hover {
  transform: scale(1.2);
}

.sliderControls span {
  font-size: 16px;
  color: #333;
}
