.sliderSection {
  display: grid;
  grid-template-columns: auto;
  margin: 90px 0;
}

.sliderSection .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  /* background-color: aqua; */
  position: relative;
  font-size: 2.4rem;
  font-weight: 800;
  margin-bottom: 20px;
}
.sliderSection .logo span {
  color: var(--color-green-primary);
}

.sliderSection .logo > :first-child {
  width: 34px;
  height: 38px;
}
.sliderSection .logo > :last-child {
  position: absolute;
  right: 11.4px;
  top: 10px;
  width: 12px;
  height: 20px;
}

.text {
  display: none;
  text-align: justify;
}
.text h3 {
  font-size: 2rem;
  margin: 10px 0;
}
.text p {
  font-size: 1.6rem;
  line-height: 1.7;
}
.sliderImg {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-left: 100px;
  /* background-color: red; */
}

@media (min-width: 768px) {
  .text {
    display: block;
  }
  .sliderSection {
    grid-template-columns: 7fr 8fr;
  }
  .sliderImg {
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .text h3 {
    font-size: 2.4rem;
  }
  .text p {
    font-size: 2rem;
  }
  .sliderImg {
    padding-left: 0;
    padding-right: 100px;
  }
}
