.container {
  /* position: relative; */
  position: absolute;
  top: 60px;
  left: -1;
  width: 100%;
  /* background-color: aqua; */
  z-index: 10;
  transition: z-index 0.2s ease 0.1s;
}
.container.open {
  z-index: 30;
}
/* منو */
.menuDropdown {
  /* position: absolute; */
  /* right: 0; */

  top: 45px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  /* width: 140px; */
  /* width: 220px; */
  width: fit-content;
  width: 100%;
  /* padding: 6px 0; */
  overflow: hidden;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s;
}

.menuDropdown.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

@media (min-width: 1500px) {
  .container {
    /* left: -30px; */
  }
  .menuDropdown {
    min-width: 200px;
  }
}

/* آیتم‌ها */
.menuItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  padding: 10px 10px;
  text-decoration: none;
  text-wrap: nowrap;
  color: #222;
  font-size: 14px;
  transition: background 0.2s;
  /* background-color: aqua; */
  border-bottom: 1px solid #0000003e;
}

.menuItemFixed {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  cursor: default;
  border-bottom: none;
}
.menuItemFixed:hover {
  background-color: #f4f4f4 !important;
}

.menuItemFixed div {
  background-color: #d9d9d9;
  width: 28px !important;
  height: 28px !important;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.menuItemFixed p {
  color: var(--color-green-secondary) !important;
  font-size: 1.4rem !important;
  font-weight: 500;
}

.menuItem div {
  width: 18px;
  height: 18px;
  /* background-color: red; */
}
.menuItem div img {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
.menuItem p {
  font-size: 1.1rem;
  color: var(--color-primary);
}

.menuItem:hover {
  background: #dedede;
}
.menuItem.logout p {
  color: red !important;
}

.menuItem.logout {
  border-bottom: none;
}

.menuItem.logout:hover {
  background: #ffecec;
}

/* .avatar-icon {
      width: 28px;
      height: 28px;
      background: #ccc;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    } */
