.container {
  position: absolute;
  top: 60px;
  left: -1;
  width: 100%;
  /* background-color: red; */
  /* z-index: -1; */
  visibility: hidden;
  transition: z-index 0.2s ease 0.1s, visibility 0.2s ease 0.1s;
  overflow: visible;
}
.container.open {
  z-index: 30;
  visibility: visible;
}
.menuDropdown {
  display: flex;
  flex-direction: column;
  top: 45px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  /* width: fit-content; */
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
  transition: opacity 0.2s ease 0.1s, transform 0.2s ease 0.1s;
  max-height: 226px;
  overflow-y: auto;
}

.menuDropdown::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.menuDropdown {
  -ms-overflow-style: none; /* IE و Edge قدیمی */
  scrollbar-width: none; /* Firefox */
}

.menuDropdown.open {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

@media (min-width: 1500px) {
  .menuDropdown {
    min-width: 200px;
  }
}

.menuItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
  padding: 10px 10px;
  text-decoration: none;
  text-wrap: nowrap;
  color: #222;
  font-size: 14px;
  transition: background 0.2s;
  border-bottom: 1px solid #0000003e;
}

.menuItemFixed {
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  cursor: default;
  border-bottom: none;
}
.menuItemFixed:hover {
  background-color: #f4f4f4 !important;
}

.menuItemFixed div {
  background-color: #d9d9d9;
  width: 28px !important;
  height: 28px !important;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.menuItemFixed p {
  color: var(--color-green-secondary) !important;
  font-size: 1.4rem !important;
  font-weight: 500;
}

.menuItem div {
  width: 18px;
  height: 18px;
}
.menuItem div img {
  width: 100%;
  height: 100%;
}
.menuItem p {
  font-size: 1.1rem;
  color: var(--color-primary);
}

.menuItem:hover {
  background: #dedede;
}
.menuItem.logout p {
  color: red !important;
}

.menuItem.logout {
  border-bottom: none;
}

.menuItem.logout:hover {
  background: #ffecec;
}
