.modalBackground {
  background-color: rgba(16, 10, 10, 0.197);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.modalCenter {
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 362px;
  max-width: 561px;
  max-height: 362px;
  z-index: 30;
  border-radius: 20px;
  overflow: hidden;
}
