.box {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-template-columns: auto;
  gap: 15px;
  /* border: 2px solid #00000020; */
  /* padding: 20px; */
  border-radius: 10px;
}

.borderBox {
  border: 2px solid #00000020;
  padding: 20px;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  grid-column: 1/-1;
}
.title img {
  width: 24px;
  height: 24px;
}
.title p {
  font-size: 2.4rem;
}

.box input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #00000040;
  outline-color: var(--color-green-primary);
}

.buttons {
  grid-column: 1/-1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  padding-top: 10px;
}

.buttons button {
  flex: 1;
  padding: 8px 40px;
  font-size: 1.6rem;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 8px;
  color: var(--background-side);
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.buttons :first-child:hover {
  background-color: #1f6f31;
}

.buttons :last-child {
  color: var(--color-green-primary);
  background-color: var(--background-side);
  border: 3px solid var(--color-green-primary);
}

.buttons :last-child:hover {
  background-color: var(--color-green-primary);
  color: var(--background-side);
  /* border-color: var(--background-side); */
}

.dateContainer {
  position: relative;
  font-size: 1.6rem;
}
.showDate {
  display: flex;
  border: 2px solid #00000040;
  border-radius: 8px;
  padding-right: 17px;
  align-items: center;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (min-width: 768px) {
  .box {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .buttons {
    border-top: 2px solid #00000012;
  }

  .buttons button {
    max-width: 180px;
  }
}

@media (min-width: 1024px) {
  .box {
    grid-template-columns: auto auto auto;
  }
}
