.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #00000020;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 20;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title :first-child {
  font-weight: 700;
  font-size: 1.6rem;
}
.mainForm {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.editButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.title img {
  width: 16px;
  height: 16px;
}

.title p {
  font-size: 1.3rem;
}

.oneLineDetail {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.oneLineDetail p {
  font-size: 1.4rem;
  color: #0000008b;
}

.oneLineDetail :last-child {
  color: var(--color-primary);
  font-weight: 400;
}

.emailForm {
  display: flex;
  flex: 1;
  gap: 8px;
}
.emailForm input {
  flex: 4;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #00000040;
  outline-color: var(--color-green-primary);
}

.emailForm button {
  flex: 1;
  padding: 8px 12px;
  font-size: 1.6rem;
  font-weight: 500;
  background: none;
  border: none;
  border-radius: 8px;
  color: var(--background-side) !important;
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.emailForm :last-child:hover {
  background-color: #1f6f31;
}

.editButton {
  cursor: pointer;
}
.editButton img {
  width: 16px;
  height: 16px;
}
.editButton p {
  color: var(--color-price) !important;
}

@media (min-width: 768px) {
  .mainForm {
    flex-direction: row;
    justify-content: space-between;
    row-gap: 25px;
  }
}
