.backButton {
  text-align: end;
  padding: 5px;
}
.backButton img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.title {
  font-weight: 500;
  text-align: center;
  font-size: 2.8rem;
}

#form {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  padding: 0 20px;
}

.form label {
  color: #0000006c;
  font-size: 1.6rem;
}

.form input {
  flex: 4;
  width: 100%;
  height: 50px;
  padding: 13px;
  border-radius: 6px;
  border: 2px solid #00000040;
  outline-color: var(--color-green-primary);
}

.form p {
  font-size: 1.2rem;
}

.otpInput {
  font-size: 1.8rem;
  text-align: center;
  /* min-width: 50px; */
  min-width: 40px;
  min-height: 45px;
  max-width: 57px;
  max-height: 55px;
}
.button {
  padding: 0 20px;
}
.button button {
  width: 100%;
  padding: 10px 40px;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-radius: 6px;
  color: var(--background-side);
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button button:hover {
  background-color: #1f6f31;
}

.error {
  color: red;
  visibility: hidden;
}

@media (min-width: 768px) {
  .otpInput {
    font-size: 2rem;
    min-width: 57px;
    min-height: 55px;
  }
}
