.closeButton {
  text-align: end;
  cursor: pointer;
}

.closeButton img {
  width: 40px;
  height: 40px;
  /* background-color: #1f6f31; */
}

.title {
  font-weight: 500;
  text-align: center;
  font-size: 2.8rem;
}

#form {
  padding: 0 10px;
  font-size: 1.6rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 35px 0;
  padding: 0 20px;
}

.form label {
  color: #0000006c;
  font-size: 1.6rem;
}

.form input {
  flex: 4;
  width: 100%;
  height: 50px;
  padding: 13px;
  border-radius: 6px;
  border: 2px solid #00000040;
  outline-color: var(--color-green-primary);
}

.form p {
  font-size: 1.2rem;
}
.error {
  color: red;
  visibility: hidden;
}
.button {
  padding: 0 20px;
}
.button button {
  width: 100%;
  padding: 10px 40px;
  font-size: 1.6rem;
  background: none;
  border: none;
  border-radius: 6px;
  color: var(--background-side);
  background-color: var(--color-green-primary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button button:hover {
  background-color: #1f6f31;
}
